<!--<div class="ui bottom fixed borderless menu">-->
<!--  <a class="item">-->
<!--    <i class="small facebook f icon"></i>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    <i class="small linkedin icon"></i>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    <i class="small github alternate icon"></i>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    <i class="small send outline icon"></i>-->
<!--  </a>-->
<!--  <a class="item">-->
<!--    <i class="small file pdf outline icon"></i>-->
<!--  </a>-->
<!--    </div>-->
<!--</div>-->
    </body>
</html>