<html>
    <head>
        <title>BlogApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <a href="/"><div class="header item"><i class="edit icon"></i>BlogApp</div></a>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/login" class="item">Log In</a>
            <a href="/blogs/new" class="item">New Post</a>
            <a href="/logout" class="item">Log Out</a>
        </div>
